:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --app-title-margin-top: 45px;
  --title-font-size: 30px;
}

body {
  margin: 60px auto;
  max-width: 100%;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
  padding: 65px;
}

h2 {
  font-size: 48px;
  padding-top: 65px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.title {
  font-size: var(--title-font-size);
  font-weight: bold;
  margin-top: 20px;
}
.app-btn {
  box-shadow: var(--box-shadow);
  margin-top: 20px;
}
.yoga-app {
  margin-top: var(--app-title-margin-top);
}
.weather-app {
  margin-top: var(--app-title-margin-top);
}
.yogurt-app {
  margin-top: var(--app-title-margin-top);
}
